
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    height: fit-content;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    color: white;
}

.header-up,
.header-down {
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    justify-content: space-between;
}

.header-up {
    margin-bottom: 100px;
}

.header-down {
    margin-bottom: 45px;
}

.header-up ul {
    display: flex;
    color: white;
    gap: 15px
}

.header-up h1 {
    font-size: 24px;
    color: #F9FAF8;
}

.header-up li {
    list-style: none;
}

.header-up a {
    text-decoration: none;
    color: white;
}

.header-down h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin: 0;
}

.header-down p {
    font-size: 18px;
    color: #E5E7EB;
}

.header-down button {
    border-radius: 7px;
    padding: 10px 20px;
    background-color: rgb(45, 127, 227);
    height: 40px;
    width: 150px;
    border: none;
}

.header-down a {
    text-decoration: none;
    color: white;
}

.header-down img {
    height: 250px;
    width: 550px;
    border: none;
    overflow: clip;
}

.main-content img {
    height: 150px;
    width: 150px;
    border: 5px solid #357ef3;
    border-radius: 12px;
}

.main-content,
.main-content2 {
    margin-left: 15%;
    margin-right: 15%;
}

.illustration-container {
    gap: 80px;
    justify-content: center;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    margin-bottom: 80px;
}

.illustration-container h1 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
}

.information-header {
    text-align: center;
    margin-top: 50px;
}

.main-content2 {
    background-color: #E5E7EB;
    width: 100%;
    margin: 0;
}

.quote {
    text-align: center;
    font-size: 36px;
    font-style: italic;
    font-weight:light;
    color: #1F2937;
}

.author {
    font-size: 24px;
    text-align: end;
    font-weight: bolder;
    width: 1400px;
}

.main-content3 {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.sign-up-container {
    background-color: #3882F6;
    border-radius: 12px;
    display: flex;
    color: white;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
    gap: 10px;
}

.title {
    font-size: 20px;
    font-weight: bolder;
    margin-bottom:0;
}

.info {
    margin-top: 5px;
}

.main-content3 button {
    border-radius: 7px;
    padding: 10px 20px;
    border:solid 1px white;
    background-color: transparent;
    height: 40px;
    width: 150px;
}

.main-content3 a {
    text-decoration: none;
    color: white;
}

